
.ttm-row{ padding: 90px 0;}
.ttm-row.row-top-section,
.ttm-row.home5-fid2-section{ padding: 0 0; }
.ttm-row.about-section{ padding: 100px 0 122px; }
.ttm-row.broken-section{ padding: 0 0; }
.ttm-row.portfolio-section{ padding: 144px 0 90px; }
.ttm-row.services-section{ padding: 0 0 70px; }
.ttm-row.only-title-section{ padding-top: 155px; padding-bottom: 155px; }
.ttm-row.team-section{ padding-top: 0px; padding-bottom: 85px; }
.ttm-row.row-title-section{ padding-top: 130px; padding-bottom: 215px; }
.ttm-row.about3-section{ padding: 90px 0 65px; }
.ttm-row.contact-section{ padding: 0 0 100px; }
.ttm-row.testimonial2-section{ padding: 90px 0 100px; }
.ttm-row.blog-section{ padding: 90px 0 136px; }
.ttm-row.blog2-section{ padding: 80px 0 146px; }
.ttm-row.about2-section{ padding: 108px 0 47px; }
.ttm-row.services2-section{ padding: 80px 0 75px; }
.ttm-row.desc-only-section{ padding: 40px 0 25px; }
.ttm-row.contact-form-section{ padding: 110px 0 0; }
.ttm-row.services3-section{ padding: 90px 0 70px; }
.ttm-row.fid-section{ padding-top: 126px; padding-bottom: 70px; }
.ttm-row.partners-section{ padding: 100px 0 65px; }
.ttm-row.multi-content-section{ padding: 90px 0 220px; }
.ttm-row.company-template-section{ padding: 0 0; }
.ttm-row.services3-section{ padding: 70px 0 168px; }
.ttm-row.actionbox-section{ padding : 35px; }
.ttm-row.row-text-section{ padding: 78px 0 60px; }
.ttm-row.services-box-section{ padding: 0 0 95px; }
.ttm-row.fid2-section{ padding: 34px 0 65px; }
.ttm-row.only-title-section.style2{ padding-top: 93px; padding-bottom: 70px; }
.ttm-row.processbox2-section{ padding: 0 0 140px; }
.ttm-row.map-section{ padding: 0 0; }
.ttm-row.carrer-pos-section{ padding: 0 0 120px; }
.ttm-row.featured-section{ padding: 45px 0; }
.ttm-row.banner-box-section{ padding: 80px 0 42px; }
.ttm-row.product-section{ padding: 0 0 45px; }
.ttm-row.cart-section{ padding: 82px 0 130px; }
.ttm-row.expertise-section{ padding: 60px 0 20px; }
.ttm-row.cta-form-section{ padding: 60px 0 130px; }
.ttm-row.about4-section{padding:80px 0;}
.ttm-row.desc-only-section.style2{padding: 29px 0 36px;}
.ttm-row.home4-services2-section{padding-bottom: 80px;}
.ttm-row.home4-services-section{padding-bottom: 0;}
.ttm-row.only-title-section.style3{padding-top: 90px;}
.ttm-row.only-bgimg-section{padding-top: 243px !important;padding-bottom: 270px !important;}
.ttm-row.event-section{padding-bottom: 70px;}
.ttm-row.home4-last-section{padding-bottom: 110px;}



/* ===============================================
    2.Row-Equal-Height
------------------------*/

.row-equal-height{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.row-equal-height > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ===============================================
    3.Bg-Layer
------------------------*/

.ttm-bg{ position: relative;}
.ttm-col-bgimage-yes, .bg-layer-equal-height .ttm-col-bgcolor-yes{ height: 100%; z-index: 9;}
.ttm-bg-layer , .ttm-titlebar-wrapper .ttm-titlebar-wrapper-bg-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.ttm-left-span .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-left: -100px;
    right: 0;
}
.ttm-right-span .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-right: -100px;
    right: 0;
}
.ttm-bg.ttm-bgimage-yes>.ttm-bg-layer { opacity: .9; }
.layer-content{ position: relative ; z-index: 9; height: 100%; }

.bg-layer > .container > .row { margin: 0; }
.bg-layer > .container > .row > [class*='col-'] ,
.bg-layer > .container-fluid > .row > [class*='col-'] { padding: 0; }


/* ===============================================
    7.Section-Title
------------------------*/

.section-title{ position: relative; }
.section-title h5{
    font-family: "Poppins",Arial,Helvetica,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    margin-top: 5px;
    color: #8d9297;
}
.section-title h2.title{
    font-family: "Poppins",Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 0;
}
.section-title .title-desc{
    font-family: "Poppins",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 32px;
}
.section-title .title-header{
    position: relative;
    padding-left: 29px;
    margin-bottom: 29px;
}
.section-title.with-desc .title-header{ margin-bottom: 25px; }
.section-title .title-header:after{
    display: block;
    content: "";
    position: absolute;
    background-color: #FE0000;
    width: 6px;
    top: 0%;
    height: 95%;
    left: 0;
    margin-left: 0;
}

/* style2 */
.section-title.style2{
    padding-bottom: 42px;
    margin-right: -35px;
}
.section-title.style2.with-seprator{ padding-bottom: 35px; }
.section-title.style2 .title-desc:after{
    content: "";
    right: 55%;
    height: 70%;
    position: absolute;
    top: 0%;
    width: 1px;
    border-right: 1px solid rgba(122,122,122,.34);
}
.ttm-bgcolor-skincolor .section-title.style2 .title-desc:after{ border-right: 1px solid rgba(255,255,255,.16); }
.section-title.style2 .title-header{
    width: 50%;
    padding-right: 60px;
}
.section-title.style2 .title-header,
.section-title.style2 .title-desc{
    display: table-cell;
    vertical-align: middle;
}

.section-title.title-style-center_text,
.section-title.title-style-center_text .title-desc{ text-align: center; }
.section-title.title-style-center_text.with-desc .title-header{ margin-bottom: 47px; }
.section-title.title-style-center_text .title-header:after{
    width: 70px;
    bottom: -20px;
    height: 6px;
    left: 50%;
    margin-left: -35px;
    top: auto;
}
.section-title.without-sep-line .title-header,
.section-title.title-style-center_text.with-desc .title-header{ padding-left: 0; }
.section-title.without-sep-line .title-header:after,
.section-title.title-style-center_text.without-sep-line .title-header:after{ content: unset; }


/* row-title*/
.row-title h2.title{
    font-size: 60px;
    line-height: 65px;
    font-family: "Poppins",Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0;
}
.row-title h5{
    text-align: center;
    font-size: 18px;
    line-height: 52px;
    text-transform: capitalize;
}

/* ===============================================
    8.separator
------------------------*/

.separator .sep-line {
    height: 1px;
    border-top: 1px solid #dbdbdb;
    display: block;
    position: relative;
    top: 5px;
    width: 100%;
}
.ttm-bgcolor-darkgrey .separator .sep-line{
    border-color: rgba(255,255,255,0.14);
}
.ttm-bgcolor-white .separator .sep-line{
    border-color: #f1f1f1;
}

/* ===============================================
    9.Buttons
------------------------*/
.ttm-btn{
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    padding: 11px 32px 11px 31px;
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    z-index: 9;
    vertical-align: middle;
    text-transform: capitalize;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ttm-btn.ttm-icon-btn-left{ padding-left: 44px; }
.ttm-btn.ttm-icon-btn-right{ padding-right: 44px; }
.ttm-btn.ttm-icon-btn-left i{ left: 20px;}
.ttm-btn.ttm-icon-btn-right i{ right: 20px;}
.ttm-btn.ttm-icon-btn-right{ padding-right: 22px; }
.ttm-btn.ttm-icon-btn-right i{ right: 2px; }

.ttm-bgcolor-darkgrey .ttm-btn:hover.btn-inline.ttm-btn-color-skincolor{
    background-color: transparent;
    color: #fff;
}

/** btn-with-icon **/
.ttm-btn i{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.ttm-btn.ttm-icon-btn-right{ text-align: right; }
.ttm-btn.ttm-icon-btn-left { text-align: left; }

/** btn-size-xs **/
.ttm-btn.ttm-btn-size-xs { font-size: 11px; padding: 8px 20px;}
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-right{ padding-right: 31px; }
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left{ padding-left: 31px; }
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left i{ left: 12px; }
.ttm-btn.ttm-btn-size-xs i {
    font-size: 14px;
    height: 11px;
    line-height: 11px;
    right: 12px;
}
/** btn-size-sm **/
.ttm-btn.ttm-btn-size-sm { font-size: 14px; padding: 10px 24px 10px 24px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-right{ padding-right: 39px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left{ padding-left: 39px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left i{ left: 16px;}
.ttm-btn.ttm-btn-size-sm i {
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    right: 16px;
}

/** btn-size-md **/
.ttm-btn.ttm-btn-size-md { font-size: 14px; padding: 13px 30px 13px 30px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-right { padding-right: 48px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-left{ padding-left: 48px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-left i{ left: 20px;}
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-right i {
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    right: 20px;
}


/** btn-shape **/
.ttm-btn.ttm-btn-shape-round { border-radius: 2em; }
.ttm-btn.ttm-btn-shape-rounded { border-radius: 5px; }
.ttm-btn.ttm-btn-shape-square { border-radius: 0; }

/** btn-style-border **/
.ttm-btn.ttm-btn-style-border{ background-color: transparent; border: 2px solid; }
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border {
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover{
    color: #020d26;
    border-color: #FFF;
    background-color: #FFF;
}

/** btn-inline **/
.ttm-btn.btn-inline{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
}

/* ===============================================
    10.Icons
------------------------*/
.ttm-icon{
    margin-bottom: 35px;
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    box-sizing: content-box;
    position: relative;
}

/* ===============================================
    11.Fid
------------------------*/
.inside {
    text-align: center;
    position: relative;
    padding: 29px 15px 25px 15px;
    margin-bottom: 30px;
}
.inside h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
}
.ttm-fid-view-righticon.inside h4, .ttm-fid-view-lefticon.inside h4 { margin-bottom: 0; float: left; display: block; }
.ttm-fid-view-lefticon.inside h4 span:nth-child(2) { margin-left: 5px; }
.inside h3 {
    margin-bottom: 0;
    bottom: -11px;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 0;
}
.ttm-fid-view-righticon .ttm-fid-left, .ttm-fid-view-lefticon .ttm-fid-left {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 44px;
}
 .ttm-fid-view-righticon .ttm-fid-icon-wrapper, .ttm-fid-view-lefticon .ttm-fid-icon-wrapper {
    position: absolute;
    top: 0;
}
.ttm-fid-icon-wrapper i { font-size: 40px; }
.ttm-fid-view-topicon .ttm-fid-icon-wrapper i {
    position: absolute;
    top: 50%;
    left: 50%;
    -khtml-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ttm-fid-view-righticon .ttm-fid-contents, .ttm-fid-view-lefticon .ttm-fid-contents {
    padding-top: 12px;
    text-align: left;
    border-top: 1px solid #E8E8E8;
    clear: both;
    overflow: hidden;
    margin-top: 15px;
}
.ttm-fid-inner-row > .col-md-3{
    width: auto;
    max-width: max-content;
}
.ttm-fid-view-lefticon-style2{
    margin-bottom: 0;
}
.ttm-fid-view-lefticon-style2 .ttm-fid-icon-wrapper {
    position: absolute;
}
.ttm-fid-view-lefticon-style2 .ttm-fid-icon-wrapper i {
    line-height: 70px;
    font-size: 60px!important;
    padding-top: 5px;
}
.ttm-fid-view-lefticon-style2 .ttm-fid-contents {
    padding-top: 0;
    text-align: left;
    clear: both;
    overflow: hidden;
    padding-left: 80px;
}
.ttm-fid-view-lefticon-style2.with-border{border-right: 1px solid rgba(255,255,255,.08);}
.row.ttm-fid-row-wrapper { margin: 0; }
.row.ttm-fid-row-wrapper .col-md-4{ padding: 0; }


.ttm-fid-view-topicon { padding: 30px 0 2px; padding-left: 0;}
.ttm-facts-colum-sep .ttm-fid-view-topicon{ padding: 5px 0 2px; margin-bottom: 14px; }
.ttm-facts-colum-sep .col-md-3:not(:last-child):after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, .23);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    top: 50%;
    -khtml-transform: translateX(0%) translateY(-50%);
    -moz-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}
.ttm-fid.ttm-fid-view-topicon .ttm-fid-icon-wrapper {
    margin-bottom: 0;
    width: 122px;
    height: 61px;
    line-height: 61px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.inside.ttm-fid-view-topicon h4 { font-size: 44px; line-height: 55px; }
.inside.ttm-fid-view-topicon h3{ position: relative; }
.inside.ttm-fid-view-topicon h3:after {
    content: "";
    left: 50%;
    height: 2px;
    position: absolute;
    top: -9px;
    width: 30px;
    margin-left: -17px;
    background-color: transparent;
}
.ttm-fid-contents sub {
    font-size: 15px;
    font-weight: 400;
    bottom: -.25em;
}


/* ===============================================
    12.featured-icon-box ( only contents )
------------------------*/
.featured-icon-box { position: relative;}
.featured-icon-box .ttm-icon{ margin-bottom: 0px; }
.featured-icon-box.top-icon .featured-content{ padding-top: 14px; }
.featured-icon-box .ttm-icon.ttm-icon_element-size-md{ height: 42px; width: 42px; line-height: 42px;}
.featured-icon-box .ttm-icon.ttm-icon_element-fill.ttm-icon_element-size-md{ height: 72px; width: 72px; line-height: 72px; }
.featured-icon-box.left-icon{ display: table; }
.featured-icon-box.left-icon .featured-icon:not(.ttm-icon_element-border),
.featured-icon-box.left-icon .featured-icon,
.featured-icon-box.left-icon .featured-content{
    display: table-cell;
    vertical-align: middle;
}
.featured-icon-box.left-icon.icon-align-top .featured-icon{ vertical-align: top; }
.featured-icon-box.left-icon .featured-content { padding-left: 12px; }
.featured-title h5{ font-size: 20px; line-height: 27px; margin-bottom: 10px; font-weight: 600; }
.featured-title h6 { font-size: 13px; line-height: 25px; margin-bottom: 0px; }

.featured-icon-box.iconalign-before-heading{ padding: 20px 0; }
.featured-icon-box.iconalign-before-heading .featured-content{ display: table; }
.featured-icon-box.iconalign-before-heading .ttm-icon.ttm-icon_element-size-md { height: auto; width: auto; }
.featured-icon-box.iconalign-before-heading .featured-content .featured-icon,
.featured-icon-box.iconalign-before-heading .featured-content .featured-title{ display: table-cell; vertical-align: middle; padding-left: 20px;}

body{ counter-reset: section; }
.featuredbox-number .ttm-num:before{ counter-increment: section; content: counter(section, decimal-leading-zero) " " ;}

.featured-icon-box.style1{ padding: 41px 20px 31px; }

.featured-icon-box.style2 { padding: 0 25px 0 0; position: relative; }
.featured-icon-box.style2 .ttm-icon{ margin-bottom: 0; }
.featured-icon-box.style2 .featured-title h5{ font-size: 18px; line-height: 26px; margin-bottom: 0;}
.col-md-4:not(:last-child) .featured-icon-box.style2:after{
    content: "";
    height: 100%;
    width: 1px;
    background-color: #f1f1f1;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -khtml-transform: translateX(0%) translateY(-50%);
    -moz-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}

.featured-icon-box.style3{ padding: 0 0 11px 0; }
.featured-icon-box.style3 .ttm-icon.ttm-icon_element-size-md{ height: 75px; width: 75px; margin-right: 10px; margin-top: 5px;}
.featured-icon-box.style3 .ttm-icon.ttm-icon_element-size-md i{ font-size: 30px; }

.featured-icon-box.style4{ border: 1px solid #f1f1f1; padding: 19px 20px; margin-bottom: 19px; display: block;}
.featured-icon-box.style4 .ttm-icon{ margin-bottom: 0; }
.featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-sm { height: 50px; width: 50px; line-height: 50px; }
.featured-icon-box.style4 .featured-title h5{ font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 4px; }
.featured-icon-box.style4.left-icon .featured-content{ padding-left: 20px; }

.featured-icon-box.style6{ padding: 45px 40px 45px 80px; }

.featured-icon-box.style7{
    margin-top: -5px !important;
    margin-right: 70px !important;
    margin-left: 0px !important;
    border-left-width: 4px !important;
    padding-top: 32px !important;
    padding-left: 7px !important;
    background-color: rgba(255,255,255,0.03) !important;
    border-left-style: solid !important;
    padding-right: 60px;
}
.featured-icon-box.style8{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 36px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 30px !important;
    width: 100%;
}
.featured-icon-box.style8 .ttm-icon.ttm-icon_element-size-sm{height: 58px;width: 58px;line-height: 58px;}
.featured-icon-box.style8.left-icon .featured-content {
    padding-left: 24px;
}
.featured-icon-box.style9{
    border: 1px solid #ebeef0;
    padding: 33px 30px 30px 30px;
    height: 100%;
}
.featured-icon-box.style9 .featured-icon i{font-size: 62px;}
.featured-icon-box.style9 .featured-content{padding-top: 5px;}

/* ===============================================
    13.featured-imagebox ( contents with image)
------------------------*/
.featured-imagebox .ttm-box-view-content-inner{ position: relative; overflow: hidden;}
.featured-imagebox .featured-content h2.featured-title {
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
    position: relative;
}
.featured-imagebox .featured-content h2.featured-title a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.featured-imagebox .featured-content .category,
.featured-imagebox .featured-content .category a { font-size: 15px; }
.featured-imagebox .featured-icon-box{
    padding: 37px 30px 42px 30px;
    text-align: center;
    background-color: #fff;
}

.featured-imagebox .ttm-box-bottom-content { padding: 37px 30px 42px 30px; text-align: center; }
.ttm-box-view-top-image .ttm-box-bottom-content{ margin-bottom: 10px; }
.ttm-box-view-top-image .category, .ttm-box-view-top-image .category a {
    color: #8d9297;
    margin-top: 0;
    font-size: 14px;
}
.ttm-box-view-top-image .ttm-box-bottom-content h2.featured-title {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 25px;
    font-weight: 500;
}
.ttm-box-view-top-image .ttm-box-bottom-content h2.featured-title a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

/* portfolio */
.featured-imagebox-portfolio{ position: relative; overflow: hidden; }
.ttm-portfolio-box-view-overlay.ttm-box-view-overlay{
    position: absolute;
    bottom: -30%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background-color: rgba(24,35,51,.83);
}
.ttm-portfolio-box-view-overlay.ttm-box-view-overlay .ttm-box-view-content-inner{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    border: 1px solid rgba(255,255,255,.28);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}
.featured-imagebox-portfolio:hover .ttm-portfolio-box-view-overlay.ttm-box-view-overlay{ opacity: 1; bottom: 0; }
.ttm-portfolio-box-view-overlay .featured-content h2.featured-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -22px;
    width: 60px;
    height: 3px;
    margin-left: -25px;
}
.featured-imagebox-portfolio .featured-content-portfolio .category { margin-top: -27px; }

.featured-imagebox-portfolio.ttm-box-view-top-image{ margin-bottom: 30px; overflow: visible;}
.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content {
    padding: 17px 25px 24px;
    position: relative;
    text-align: left;
    background-color: #fff;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content:before {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
    top: -14px;
    left: 42px;
}
.featured-imagebox-portfolio .ttm-box-view-overlay {
    position: absolute;
    bottom: -30%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background-color: rgba(24,35,51,.83);
}
.featured-imagebox-portfolio:hover .ttm-box-view-overlay {
    opacity: 1;
    bottom: 0;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .featured-iconbox.ttm-media-link a {
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 43px;
    width: 43px;
    line-height: 43px;
    border: 1px solid transparent;
    text-align: center;
    color: #fff;
    background-color: #fda02b;
    border-radius: 50%;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .featured-iconbox.ttm-media-link a {
    top: 50%;
    right: 50%;
    margin-top: -17px;
}
.featured-imagebox-portfolio a.ttm_link {
    line-height: 41px;
    margin-right: -47px;
    float: right;
}

/* team */
.featured-imagebox-team{
    overflow: hidden;
    position: relative;
}
.featured-imagebox-team{
    margin: 5px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -moz-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    box-shadow: 0 0 25px 0 rgba(41,61,88,.06) !important;
}
.featured-imagebox-team .featured-content.featured-content-team .featured-title { padding-bottom: 10px; padding-top: 10px; }
.featured-imagebox-team .featured-content.featured-content-team .featured-title h5{
    font-size: 19px;
    line-height: 23px;
    margin-bottom: -1px;
}
.featured-imagebox-team .featured-content.featured-content-team.category { font-size: 13px; color: #9dabaf; }
.featured-imagebox-team .ttm-social-links-wrapper { margin: 14px 0; }
.featured-imagebox-team .ttm-social-links-wrapper ul { margin: 0; padding: 3px 14px; }
.featured-imagebox-team .ttm-social-links-wrapper ul li a{
    display: block;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 30px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    color: #8d9297;
}
.featured-imagebox-team.ttm-team-box-view-overlay:not(:hover) .ttm-social-links-wrapper {
    opacity: 0;
}
.featured-imagebox-team.ttm-team-box-view-overlay .featured-content.featured-content-team {
    text-align: center;
    position: relative;
    z-index: 2;
    position: relative;
    margin-top: -23px;
    transform: translateY(40px);
    padding-bottom: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.featured-imagebox-team.ttm-team-box-view-overlay:hover .featured-content.featured-content-team {
    transform: translateY(0);
    background: #fff;
}

.featured-imagebox-team.style2 .featured-thumbnail:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #182333;
    opacity: .36;
    z-index: 1;
}
.featured-imagebox-team.style2 .featured-thumbnail img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    position: relative;
}
.featured-imagebox-team.style2 .ttm-team-box-view-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-transition: .55s cubic-bezier(.68,-.55,.265,1.55);
    -moz-transition: .55s cubic-bezier(.68,-.55,.265,1.55);
    -ms-transition: .55s cubic-bezier(.68,-.55,.265,1.55);
    -o-transition: .55s cubic-bezier(.68,-.55,.265,1.55);
    transition: .55s cubic-bezier(.68,-.55,.265,1.55);
    color: #fff;
    z-index: 1;
    padding: 20px;
}
.featured-imagebox-team.style2 .ttm-social-links-wrapper{
    margin: 0;
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-imagebox-team.style2 .ttm-social-links-wrapper ul li a{ font-size: 22px; width: 40px; }
.featured-imagebox-team.style2 .featured-content.featured-content-team{
    padding: 30px;
    padding-bottom: 19px;
    transition-duration: 0.3s;
    color: #fff;
    text-align: center;
}
.featured-imagebox-team.style2:hover .ttm-team-box-view-overlay{ bottom: 0; background-color: #fda12b;}

/* post */
.featured-imagebox-post{
    background-color: #fff;
    padding: 0;
    margin: 10px 0 20px;
    border: 15px solid #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -moz-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.featured-imagebox-post .featured-content.featured-content-post{ padding: 15px 17px 11px 17px; }
.featured-imagebox-post .featured-content.featured-content-post .post-meta span{ display: block; padding: 7px 3px 3px 0; font-size: 12px; }
.featured-imagebox-post .featured-content.featured-content-post .post-meta span i{ padding-right: 5px; }
.featured-imagebox-post .featured-content.featured-content-post .post-title h5{ margin: 0; font-size: 19px; line-height: 28px; }
.featured-imagebox-post:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,.14);
}
.ttm-post-format-video{
    padding-bottom: 50.25%;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
}
.ttm-post-format-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.ttm-box-view-left-image .featured-content,
.ttm-box-view-left-image.featured-imagebox-post .featured-content{
    padding-left: 25px;
}
.ttm-box-view-left-image .ttm-featured-img-left{ padding: 0; }
.ttm-box-view-left-image .featured-content .category{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.ttm-box-view-left-image .featured-content .category> a {
    display: inline-block;
    border: 1px solid;
    padding: 5px 10px;
    margin-right: 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
}
.ttm-box-view-left-image .featured-content .ttm-box-desc,
.ttm-box-view-left-image .featured-content .featured-desc {
    border-top: 1px solid #f2f2f2;
    margin-top: 10px;
    padding-top: 7px;
}
.featured-imagebox-post.ttm-box-view-left-image .featured-content.featured-content-post .post-meta span{
    padding: 0;
    font-size: 14px;
}
/* ==============================================
    16.Testimonial
------------------------*/
.testimonials{
    position: relative;
}
.testimonials .testimonial-content .testimonial-caption{
    margin-bottom: 15px;
    margin-top: 8px;
}
.testimonials .testimonial-content h6{
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 0;
}
.testimonials .testimonial-content label {
    display: block;
    margin-top: -5px;
    opacity: .8;
}
.testimonials .testimonial-content blockquote {
    padding: 0 10px 0 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    background-color: transparent;
    line-height: 30px;
    position: relative;
}
.testimonials .testimonial-content blockquote:after{
    display: block;
    height: 90%;
    margin-top: 8px;
    margin-bottom: 0;
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    width: 4px;
    background-color: #fda12b;
}
.testimonials .testimonial-content .testimonial-caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    margin: 0 auto;
    margin-top: 6px;
}
.testimonials .testimonial-avatar .testimonial-img img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}

.testimonials.style2 .testimonial-content{
    text-align: center;
    background: transparent;
    border-left: none;
    font-size: 17px;
    line-height: 31px;
    margin: 0 10px 18px;
    padding: 0 25px;
}
.testimonials.style2 .testimonial-content blockquote{ padding: 0 25px; }
.testimonials.style2 .testimonial-avatar{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 13px;
}
.testimonials.style2 .testimonial-img img{
    margin: 0 auto;
    text-align: center;
    width: 118px;
    height: 118px;
    border: 8px solid #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.11);
}
.testimonials.style2 .testimonial-content h6{ font-weight: 600; }
.ttm-ratting-star {
    padding-top: 2px;
    padding-bottom: 7px;
    color: #fff;
}


/* ===============================================
    17.Client-row
------------------------*/
.client-box{
    margin-bottom: 20px;
    padding: 15px 12px 30px;
}
.ttm-client-logo-tooltip{ position: relative; }
.ttm-box-view-separator-logo .client-box .client:after {
    border-right: 1px solid #eaeaea;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: -25px;
    top: 0;
}
.ttm-box-view-separator-logo .row .col-sm-4:nth-child(3n+3) .client-box .client:after{ display: none; }

.client-box.ttm-box-view-boxed-logo{
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}
.client-box.ttm-box-view-boxed-logo .ttm-client-logo-tooltip{
    margin-right: 13px;
    margin-left: 13px;
    padding: 25px 12px;
    display: table-cell;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    height: 130px
}
.client-box.ttm-box-view-boxed-logo .client{
    width: 100%;
    display: table;
}

/* ttm-tab-style-vertical */
.ttm-tabs.ttm-tab-style-vertical .content-tab{ padding: 0; margin: 0;}
.ttm-tabs.ttm-tab-style-vertical ul.tabs li { margin-top: 1px; width: 100%; display: block;}
.ttm-tabs.ttm-tab-style-vertical ul.tabs li a{ background-color: #2a2a2a; color: #fff; letter-spacing: 1.2px;
padding: 14px 20px; text-transform: uppercase; font-size: 18px; line-height: 27px; margin: 0; border-radius: 0;}

/* ttm-tab-style-horizontal */
/*.ttm-tabs.ttm-tab-style-horizontal ul{ margin: 0; padding: 0; display: -webkit-flex; display: flex; }*/
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li{ margin-right: 6px; display: inline-block; }
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li:last-child{ margin-right: 0; }
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{ padding: 16px 18px 15px 18px; font-size: 15px; border-radius: 5px;
    letter-spacing: 1.2px; border: none; color: #fff; display: block; text-align: left;}
.ttm-tabs.ttm-tab-style-horizontal .content-tab img{ height: 150px; width: 150px; }

.ttm-tab-color-grey.ttm-tab-style-classic ul li{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
}
.ttm-tab-color-grey.ttm-tab-style-classic ul li a{ font-size: 18px; text-transform: capitalize; padding: 12px 25px; border-top: 3px solid; border-radius: 0;}
.ttm-tabs.ttm-tab-color-grey.ttm-tab-style-classic ul li.active a{ color: #666; border-color: #f0f0f0; }
.ttm-tab-color-grey.ttm-tab-style-classic ul li a{ border-color: #e8e8e8; background-color: #e8e8e8; }
.ttm-tabs.ttm-tab-color-grey.ttm-tab-style-classic ul li:hover a{ background-color: #dcdcdc; }
.ttm-tabs.ttm-tab-color-grey.ttm-tab-style-classic ul li.active a{ background-color: #fff; }

.ttm-tabs.ttm-tab-style-classic ul.tabs li{
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 5px;
}
.ttm-tabs.ttm-tab-style-classic ul.tabs li a{
    padding: 14px 18px 14px 18px;
    font-size: 14px;
    border-color: #ddd !important;
    background-color: #fff;
    border:1px solid;
    border-radius: 0;
    margin-bottom: 0;
}
.ttm-tabs.ttm-tab-style-classic ul.tabs li.active:after{
    display: block;
    content: "";
    position: relative;
    bottom: 7px;
    left: 50%;
    width: 13px;
    height: 13px;
    border-width: 0 0 1px 1px;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}
.ttm-tabs.ttm-tab-style-classic .content-tab {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: padding .2s ease-in-out;
    -o-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out;
}
/* ===============================================
    21.Boxes-Spacing
------------------------*/
.row.ttm-boxes-spacing-10px{ margin: 0px -1px;}
.ttm-boxes-spacing-10px .ttm-box-col-wrapper {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 0 10px;
}
.row.ttm-boxes-spacing-10px.style2{ padding: 10px 0 0; margin: 0 -5px; }

.row.ttm-boxes-spacing-5px{ padding: 10px 5px 0px; margin: 0;}
.ttm-boxes-spacing-5px .ttm-box-col-wrapper {
    padding-right: 2.5px;
    padding-left: 2.5px;
    margin-bottom: 5px;
}
.row.ttm-boxes-spacing-5px.style2{ padding: 5px 0 0; margin: 0 -5px; }

/* ===============================================
    23.Sidebar
------------------------*/
.sidebar .widget-area .widget {
    position: relative;
    margin: 40px 0 40px;
}
.sidebar .widget a {
    font-weight: 500;
    font-size: 15px;
}
.sidebar .widget ul:not(.contact-widget-wrapper):not(.widget-menu) >li {
    border-top: 1px solid #f1f1f1;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.sidebar .widget ul>li:last-child{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.sidebar .content-area{
    padding-top: 0px;
    padding-bottom: 55px;
}
.sidebar .sidebar-right, .sidebar .sidebar-left{
    margin-top: 0;
    padding: 20px;
    float: right;
}
.sidebar .sep_holder .sep_line{ border-color: #ebebeb; }


/** ttm-recent-post-list **/
ul.ttm-recent-post-list>li {
    padding: 15px 0;
}
ul.ttm-recent-post-list>li>a {
    font-size: 15px;
    line-height: 22px;
    display: block;
    font-weight: 400;
}
ul.ttm-recent-post-list>li img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 18px;
}
ul.ttm-recent-post-list>li .post-date {
    display: block;
    font-size: 12px;
}

/* widget-nav-menu */
.widget.widget-nav-menu ul li{
    margin-bottom: 2px;
    padding: 0;
}
.widget.widget-nav-menu ul li a{
    display: block;
    padding: 14px 30px 14px 24px;
    position: relative;
    background-color: #ECECEC;
    z-index: 1;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #182333;
}
.widget.widget-nav-menu ul li a:before {
    content: "";
    width: 4px;
    top: 0;
    left: 0;
    background: #FE0000;
    height: 100%;
    position: absolute;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    z-index: 1;
}
.widget.widget-nav-menu ul li a:after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    z-index: -2;
}
.widget.widget-nav-menu ul li:hover a:after,
.widget.widget-nav-menu ul li.active a:after{
    width: 100% !important;
}

/* contact-widget */
.sidebar .widget-area .widget.contact-widget {
    padding: 25px 25px 20px;
    background-color: #fff;
}
.sidebar ul.contact-widget-wrapper li i {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 20px;
}
.sidebar ul.contact-widget-wrapper li {
    padding-left: 30px;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: 29px;
}
